[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = "*"
matplotlib = "*"
numpy = "*"
pyautogui = "*"
pygame = "*"
python-dotenv = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
