[Desktop Entry]
Icon=text-html
Name=https://www.procon.gr.jp/wp-content/uploads/2023/07/spec.html
Type=Link
URL[$e]=https://www.procon.gr.jp/wp-content/uploads/2023/07/spec.html
